@import 'tailwindcss';

:root {
  --background: #fafafa;
  --foreground: #1a1a1a;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

.imgDark {
  display: none;
}
